<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony form!{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div style="padding: 2rem 4rem">
            <div style="width:40%; float:left">
                <ul>
                    <li><a href="{{ path('app_index', {'theme': 'bootstrap4'}) }}">Bootstrap 4</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'bootstrap4-horizontal'}) }}">Bootstrap 4 - horizontal</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'bootstrap3'}) }}">Bootstrap 3</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'bootstrap3-horizontal'}) }}">Bootstrap 3 - horizontal</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'table'}) }}">Table</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'div'}) }}">Div</a></li>
                    <li><a href="{{ path('app_index', {'theme': 'foundation'}) }}">Foundation 5</a></li>
                </ul>
            </div>
            <div style="width:50%; float:left">
                <p>This page is for review the bleeding edge changes in Symfony's TwigBridge. See the HTML on these form
                templates. We want to make sure they support HTML5 and WCAG2.0.</p>
                <p>This page will update once every hour with the latest changes.
                    This project is publicly available on <a href="https://github.com/Nyholm/symfony-bootstrap-form">GitHub</a>.</p>
            </div>
            <div style="clear:both"></div>


            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
